* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(238, 238, 238));
}

#name{
    font-size: 35px;
}

body {
    background-color: rgb(238, 238, 238));
}

.header {
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(216, 216, 216);
    /* color: rgb(30, 32, 34); */
    text-align: center;
    font-size:  20px;
    border:15px;
    border-color: rgb(82, 97, 107);
    /* border-style:double; */
    /* border-top-left-radius:100px;
    border-top-right-radius:100px; */
    min-height:150px;
    margin-bottom:auto;
}

.header h1 {
    display: inline-block;
    padding-bottom: 20px;
    font-size:25px;
}

.header h2 .web-dev {
    color: rgb(0, 173, 181);
}

.header nav {
    padding-top: 15px;
    text-align: center;
    float: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;  
    display: inline-block; 
}

.header nav ul {
    font-style: italic;
    display: block;
}

.header nav ul li {
    display: inline-block;
    margin-left: 80px;
    text-decoration: underline;
    color: #06262c;
    text-align: center;
}

#about-me::before{
        content:"💂";
}

#my-work::before{
    content:"💻";
}

#resume::before{
    content: "📄"   ;
}

#contact-me::before{
    content:"📩";
}

.hero {
    position: relative;
    height: 350px;
    width:100%;
    /* border-bottom-left-radius:100px;
    border-bottom-right-radius:100px; */
    /* margin-top:50px;
    margin-bottom: 25px; */
    background-image:url("./images/hero.jpg");
    background-size:cover;
    background-position: center;
    background-color:rgb(222, 217, 196);
}

.about-me-section {
    height: 100%;
    font-size:36px;
    background-color: rgb(216, 216, 216);
    /* background-color:#06262c; */
    /* position: relative; */
    /* padding-top: 20px; */
    text-align: center;
    float:left;
}

.about-me-section h3 {
    margin-top: 60px;
    text-align: center;
}
.about-me-section p {
margin-top: 25px;
text-align: center;
}

.avatar-img {
    display: block;
    float: left;
    position: relative;
    height: 350px;
    width: 350px;
    border-radius: 180px;
    padding:25px;

}

.my-work {
    text-align: center;
}

.work-primary
{
    flex:auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items:flex-end;
    padding:10px 10px 10px 10px;
    text-align: center;
}

.work-cards-primary{
border-style:solid;
border-color: black);
border-width: 5px;
padding:10px;
background-color:rgb(57, 62, 70);
box-shadow:10px 10px 10px 10px rgb(0, 173, 181);
margin:20px 20px 20px 20px; 
border-radius: 45px;
flex-wrap: wrap;
height: 600px;
width: 750px;
text-align: center;
/* background:rgb(57, 62, 70); */
}

.work-cards-primary h3 {
    background-color:rgb(216, 216, 216);
    height:30px;
    color: black;
    width: 600px;
    margin:auto;
    /* margin-left: 90px; */
    flex: auto;
    padding: 0;
    text-align: center;
    font-size: 24px;
    border-radius: 30px 30px 0px 0px;
}



.work-cards-primary p {
    text-align: center;
}

.work-cards-primary img {
    width: 600px;
    height: 480px;
    padding: 10px;
    border-radius: 30px; 
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.work 
{
    flex:auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items:flex-end;
    padding:10px 10px 10px 10px;
    text-align: center;
}

.work-cards {
    border-style:solid;
    border-width: 5px;
    padding:10px;
    background-color:rgb(57, 62, 70);
    border-color: rgb(34, 40, 49);
    box-shadow:10px 10px 10px 10px rgb(0, 173, 181);
    margin:20px 20px 20px 20px;
    border-radius: 45px;
    flex-wrap: wrap;
    height: 500px;
    width: 625px;
    text-align: center;
    background-color:rgb(57, 62, 70);

}

.work-cards h3 {
    background-color:rgb(216, 216, 216);
    color: black;
    width: 480px;
    height:30px;
    margin:auto;
    /* margin-left: 90px; */
    flex: auto;
    padding: 0;
    text-align: center;
    font-size: 24px;
    border-radius: 30px 30px 0px 0px;
}


.work-cards-primary h3 {
    border-radius: 10 px;
    transition: all 0.5s ease-in-out;
 } 
 
.work-cards-primary:hover,
.work-cards-primary:hover .work-cards-primary h3 {
     box-shadow: inset 0px 0px 8px
     rgb(73, 0, 73), 0 0 15px
     rgb(73, 0, 73);
 }


.work-cards h3 {
    border-radius: 10 px;
    transition: all 0.5s ease-in-out;
 } 
 
 .work-cards:hover,
 .work-cards:hover .work-cards h3 {
     box-shadow: inset 0px 0px 8px
     rgb(73, 0, 73), 0 0 15px
     rgb(73, 0, 73);
 }





.work-cards p {
    text-align: center;
}

.work-cards img {
    width: 480px;
    height: 400px;
    padding: 10px;
    border-radius: 30px; 
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
/* .hr {

} */

.footer {
    position: relative;
    width: 100%;
    min-height: 150px;
    background-color: rgb(216, 216, 216);
    text-align: center;
    justify-content: center;
    display: table;
    border:15px;
    /* border-style: double; */
    /* border-color:rgb(208, 202, 178); */
    font-size: 20px;
    margin-top: auto;
    
}
.footer h4 {
    font-size: 25px;
}

.footer ul li {
    display: inline;
    text-decoration: underline;
    padding: 10px;
}

/* @media screen and (max-width: 992px) {
    .card {
      width: 25%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .card {
       width: 50%;
    }
  }
   */